version: "3.8"

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network

  backend:
    build: ./Backend
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://mongodb:27017/baatcheet
      Client_URL: http://localhost:4000
    depends_on:
      - mongodb
    networks:
      - app_network

  frontend:
    build: ./Frontend
    container_name: frontend
    ports:
      - "4000:80"
    depends_on:
      - backend
    networks:
      - app_network

volumes:
  mongo_data:

networks:
  app_network:
